# Default ignored files
/../../UTP project board game /.idea/shelf/
/../../UTP project board game /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../UTP project board game /.idea/httpRequests/
# Datasource local storage ignored files
/../../UTP project board game /.idea/dataSources/
/../../UTP project board game /.idea/dataSources.local.xml
